<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DATOS PROCESADOS</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"> <!-- ESTILO CSS -->

</head>




<body>
    <div id="encabezado">
        <div id="encabezado_titulo_y_logo">
            <!-- H1 ENCABEZADO -->
                <h1>¡Procesamiento completado! Revisa los resultados.</h1>
                <style>
                    h1{color:rgb(36, 164, 36)}   
                </style>
                
            <!-- LOGO + HIPERVÍNCULO A LA PÁGINA WEB DE LA UCAV -->
            <a href="https://www.ucavila.es/" id="LOGO_UCAV">
                <img src="https://raw.githubusercontent.com/Miguelgargor/IMAGENES_APPs/main/UCAV_logo.png" id="LOGO_UCAV">
            </a>
        </div>
        
        <p id="texto_pequeño">Comprueba la carpeta <b><i>"RESULTADOS_BC"</i></b>.</p>

        <!-- Botón para volver a la página inicial -->
        <div id="boton_volver_home">
            <form action="/" method="get">
                <input type="submit" value="Volver a la página inicial">
            </form>
        </div>
    </div>

    <!-- ........................................................................................................ -->


    <div id="datos_obtenidos_esquema">
        <div id="MENSAJE">
            <!-- MENSAJE -->
            {{ mensaje }}
        </div>

        <div id="IMPORTE-TOTAL">
            <!-- IMPORTE TOTAL -->
            <p>Importe Total de la Remesa: <b>{{IMPORTE_TOTAL}}</b></p>
        </div>

    </div>
    <!-- ........................................................................................................ -->


    <!-- MUESTRA de DATOS RESULTADO -->
    <br><br><p>A continuación se muestran los primeros y los últimos movimientos de la remesa:</p>
    <data id="tabla_datos">
        {{ df_primeras_y_ultimas.to_html() | safe }}

    </data>
    <!-- ........................................................................................................ -->






    <!-- PIE DE PÁGINA -->
    <footer>
        &copy; 2024 Miguel García Gordo
    </footer>

</body>
</html>
